{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Receipt Generator</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row r-form-container">
                <div class="col-md-6 col-sm-12">
                    <h1>Receipt Generator</h1>
                    <p>This receipt generator converts the information given below into actual PDF file. This is not an official receipt but just temporary.</p>
                    <form action="{% url 'dashboard:create-pdf' %}" method="POST" class="form-floating mt-3">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input name="company" required="" type="text" class="form-control" id="companyId" placeholder="Your company name">
                            <label for="companyId">Issuing Company</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="purchaser" required="" type="text" class="form-control" id="purchaserId" placeholder="Purchaser">
                            <label for="purchaserId">Purchaser</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="product" required="" type="text" class="form-control" id="productId" placeholder="Your product name">
                            <label for="productId">Product Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="price" required="" type="number" class="form-control" id="priceId" placeholder="Price">
                            <label for="priceId">Price</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input name="quantity" required="" type="number" class="form-control" id="quantityId" placeholder="Quantity">
                            <label for="quantityId">Quantity</label>
                        </div>
                        <div>
                            <h3>HST: 15%</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea name="notes" id="notesId" cols="60" rows="10" placeholder="Other notes"></textarea>
                        </div>
                        <button class="btn btn-primary">Review Information</button>
                        <input class="btn btn-success" type="submit" value="Convert to PDF">
                        <button class="btn btn-danger" id="resetBtnId">Reset</button>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12" id="reviewId">

                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function reviewInformation() {
            const company = document.getElementById('companyId').value;
            const purchaser = document.getElementById('purchaserId').value;
            const product = document.getElementById('productId').value;
            const price = parseFloat(document.getElementById('priceId').value);
            const quantity = parseInt(document.getElementById('quantityId').value, 10);
            const hst = (price * quantity * 0.15).toFixed(2);
            const notes = document.getElementById('notesId').value;
            const total = (price * quantity) + Number(hst)

            const reviewHtml = `
                <h1>Review Information</h1>
                <div class="mt-5">
                    <h5>Issuing Company</h5>
                    <p>${company}</p>
                </div>
                <div class="mt-1">
                    <h5>Purchaser</h5>
                    <p>${purchaser}</p>
                </div>
                <div class="mt-1">
                    <h5>Product Name</h5>
                    <p>${product}</p>
                </div>
                <div class="mt-1">
                    <h5>Price</h5>
                    <p>$${price.toFixed(2)}</p>
                </div>
                <div class="mt-1">
                    <h5>Quantity</h5>
                    <p>${quantity}</p>
                </div>
                <div class="mt-1">
                    <h5>HST: 15%</h5>
                    <p>$${hst}</p>
                </div>
                <div>
                    <h4>Total</h4>
                    <p>$${total}</p>
                </div>
                <div class="mt-1">
                    <h5>Other Notes:</h5>
                    <p>${notes}</p>
                </div>`;

            const reviewContainer = document.getElementById('reviewId');
            reviewContainer.innerHTML = reviewHtml;
        }

        document.querySelector('.btn-primary').addEventListener('click', function(event) {
            event.preventDefault(); // Prevent form submission
            reviewInformation();
        });

        document.getElementById("resetBtnId").addEventListener('click', function(event) {
            window.location.reload()
        })

    </script>
    </body>
</html>